body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  font: 12px Arial, sans-serif;
  color: #556;
  background-color: #f1f1f1;
}


.wrapper {
  width: 950px;
  margin: auto;
  position: relative; 
}

.wrapper .header {
  font: 14px Georgia, serif;
  background: #606A85;
  color: #ECEFF6;
  padding: 10px 30px;
  text-transform: uppercase;
}
.wrapper .header a {
  color: #fff;
  text-decoration: none;
}

.wrapper .content {
  overflow: hidden;
  position: relative;
  background: #fff;
  padding: 20px 30px;
}

.wrapper .content ul {
  padding-left: 30px;
  margin: 10px 0;
}

.wrapper .content h1 {
  padding: 10px 0;
}

.wrapper .content p {
  padding: 10px 0;
  font-size: 14px;
}

.wrapper .content img {
  border: solid #000 1px;
  float: right;
}

.wrapper .content a {
  color: #606A85;
  text-decoration: none;
  font-weight: bold;
}

.wrapper .content a:hover {
  text-decoration: underline;
}

.wrapper .content code {
  padding: 0.7em;
  font-family: Monaco, monospace;
  border: 2px solid #999;
  display: block;
  clear: both;
  margin: 5px 0;
  background: #eee;
}

.wrapper .content table.charts{
  margin-top: 10px;
  margin-bottom: 15px;
}
.wrapper .content table.charts td{
  padding: 2px 10px;
}
  
.wrapper .footer {
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
  color: #6D6E70;
  border-top: solid #ddd 5px;
}
.wrapper .footer .copyright {
  float: right;
  font: 10px/15px Georgia, serif;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrapper .footer .copyright a {
  color: #6D6E70;
  font: 10px/15px Georgia, serif;
}
